<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Angular Messenger</title>
    <link rel="stylesheet" href="/stylesheets/boostrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <my-app>Loading...</my-app>

    <script src="/js/app/bundle.js"></script>
</body>

</html>